<style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
</style>

<img class='img-fluid' id='banner' src="https://astro-page.viquiriglos.repl.co/static/stars.jpg" height='320'>

<h5 class='text-end mt-2 mb-4'>Photo by <a href="https://unsplash.com/@grakozy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Greg Rakozy</a> on <a href="https://unsplash.com/s/photos/astronomy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</h5>