<!DOCTYPE html>
<html>
  <head>
    <title>Astro World</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    
    <div class='container'>
      <h1 class='text-center mt-2 mb-4' >Astro World</h1>
      
      <h2 class='text-center mt-2 mb-4'>About Us...</h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor   incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h2 id='courses-section' class='text-center mt-2 mb-4'>Offered Courses</h2>
        <div>
          {% for course in courses %}
            {% include 'courseitem.html' %}
          {% endfor %}
        </div>
      <div class='text-center mt-2 mb-4'>
        <a href="mailto:contact@astroworld.com?subject=Please%20send%20me%20information&body=Hi%20there%2C%20I'm%20%3Cname%20and%20last%20name%3E%20and%20I'd%20like%20to%20receive%20information%20about%20your%20courses." type="button" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
      
    </div>
   {% include 'footer.html' %} 
  </body>
  
</html>
