<!DOCTYPE html>
<html>
  <head>
    <title>Astro World</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    
    <div class='container'>
      <h1 class='text-center mt-2 mb-4' >Astro World</h1>
      
      <h2 class='text-center mt-2 mb-4'>About Us...</h2>
      
      <p>In Astro World we dedicate ourselves to the dissemination of astrology. This ancient knowledge can help you improve your life and get prepared for the most important events coming to your life. You can understand your own nature and the way other people think. You can choose the path life that is more appropiate for your happiness and be aware of your possibilities. That is what astrology is meant for!
        Here we provide you with courses and webinars from the basics to the most advanced topics. Our courses are completely online and you can learn at your own pace. We provide you a certificate of completion after the final project. We provide 3 starting dates over the year for all levels. You can choose to take your course in English or in Spanish.
        Webinars are usually destined to advanced students, to introduce them to specific topics. However everyone is wellcome to have them.
        For any enquiries please, fell free to contact us. We hope to see you around soon! 
      </p>
      <h2 id='courses-section' class='text-center mt-2 mb-4'>Offered Courses</h2>
        <div>
          {% for course in courses %}
            {% include 'courseitem.html' %}
          {% endfor %}
        </div>
      <div class='text-center mt-2 mb-4'>
        <a href="mailto:mv.castro@protonmail.com?subject=Please%20send%20me%20information&body=Hi%20there%2C%20I'm%20%3Cname%20and%20last%20name%3E%20and%20I'd%20like%20to%20receive%20information%20about%20your%20courses." type="button" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
      
    </div>
   {% include 'footer.html' %} 
  </body>
  
</html>
